body{
font-family:courier,sans-serif; 
font-size:14px; 
}
header{
text-align:right;
}
ul li{
text-align:right;
list-style-type:none;
}
.address{
font-style:italic;
}
.text{
font-family:tahoma,sans-serif; 
text-align:justify;
font-style:italic;
}
.name{
font-size:15px; 
font-weight:900;
text-align:left;
text-decoration:underline;
}
.sign{
text-align:left;
}