.content{
font-family:courier,sans-serif; 
font-size:14px;
}
.menu{
width:15em;
background-color:lightgray;
float:left;
}
.article{
background-color:gray;
margin-bottom:.2em;
overflow-y:auto;
}
.image{
width:100px;
height:100px;
float:right;
}
.clear{
height:1px;
clear:right;
}
footer{
clear:both;
background-color:gray;
}

